@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
body {
  margin: 0;
  background: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}

/* Navbar Section */
.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #efefef;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  width: 3rem;
  height: auto;
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #008CBA;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #008CBA;
  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* Gallery Section */
/* *{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    box-sizing: border-box;
  } */

.gallery-section {
  width: 100%;
  padding: 60px 0;
}

.inner-width {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.gallery-section h1 {
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

.border {
  width: 180px;
  height: 4px;
  background: #008CBA;
  margin: 60px auto;
}

.gallery-section .gallery {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.gallery-section .image {
  flex: 25%;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  transition: 0.4s;
}

.gallery-section .image:hover img {
  transform: scale(1.4) rotate(15deg);
}

@media screen and (max-width: 960px) {
  .gallery-section .image {
    flex: 33.33%;
  }
}

@media screen and (max-width: 768px) {
  .gallery-section .image {
    flex: 50%;
  }
}

@media screen and (max-width: 480px) {
  .gallery-section .image {
    flex: 100%;
  }
}

/* Adopt cat Section */
/* Button style */
.button {
  background-color: #008CBA; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  margin: 100px 0 0 100px ;

}
.button1 {
  background-color: white; 
  color: #333; 
  border: 2px solid #008CBA;
}

.button1:hover {
  background-color: #008CBA;
  color: white;
}

/* Table Style */
.tableContainer{
  margin: 50px 50px 50px 50px;
}

#cats {
  border-collapse: collapse;
  width: 100%;

}

#cats td, #cats th {
  border: 1px solid #ddd;
  padding: 8px;
}

#cats tr:nth-child(even){background-color: #f2f2f2;}

#cats tr:hover {background-color: #ddd;}

#cats th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #008CBA;
  color: white;
}


/* Modal style */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding-bottom: 100px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: #333;
  float: right;
  margin-right: 50px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

.modal-body {padding: 2px 16px;}

/* .modal-footer {
  padding: 2px 16px;
  background-color: #008CBA;
  color: white;
} */

/* Form style */
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #008CBA;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: large;
  text-transform: uppercase;

}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}